*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    background-color: aquamarine;
    height: 70px;
}
.logo{
    font-size: 50px;
    margin-left: 20px;
}
.logo b a{
    color: blue;
    margin-top:20px;
}
nav ul{
    float: right;
    margin-top: 20px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: blueviolet;
    padding: 8px;
}
nav ul li a:hover{
    background-color: burlywood;
    color: brown;
    padding: 8px;
    border-radius: 3px;
}
.rita{
    display: none;
    position: absolute;
    margin: 0;
    background-color: blueviolet;
}
.rita li{
    display: block;
    padding: 8px;
    border-bottom: 1px solid red;
}
.rita li a{
    color: cadetblue;
}
.mita:hover .rita{
    display: block;
}