

@media(max-width:300px){
.grid-container{
    display: grid;
    grid-template-columns: 100px;
    color: red;
}

}
@media(min-width:301px) and (max-width:1000px){
    .grid-container{
        display: grid;
        grid-template-columns: 100px 100px;
        color: aqua;
    }
}
@media(min-width:1001px){
    .grid-container{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        color: blue;
    }
}
